<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 당첨 조회</title>

	<!-- CSS 파일 연결 -->
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div class="container">
	    <h1>이벤트 당첨 조회</h1>

	    <input type="text" id="name" placeholder="이름 입력">
	    <input type="text" id="receipt_no" placeholder="접수번호 입력">

		
	    <button onclick="checkWinner()">조회하기</button>

	    <div id="result"></div>
	</div>

	<!-- JS 파일 연결 -->
	<script src="/static/js/event_check.js"></script>

</body>
</html>